# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/
.next/
out/
*.tsbuildinfo
apps/cli/release/

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
doc.md

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Turbo
.turbo/

# Testing
coverage/

# Misc
*.pem
*.key
tmp/
temp/
.cache/
